absl-py==2.0.0
ale-py==0.8.1
anyio==4.0.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
astroid==3.1.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==22.2.0
AutoROM==0.4.2
AutoROM.accept-rom-license==0.6.1
Babel==2.13.1
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.1.0
certifi==2023.7.22
cffi==1.16.0
cGraph==0.1
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==1.6.0
cmake==3.27.7
colorama==0.4.6
comm==0.2.0
contourpy==1.0.7
coverage==7.4.4
cycler==0.11.0
deap==1.4.1
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.8
distlib==0.3.8
dlib==19.24.2
docopt==0.6.2
e==1.4.5
etils==1.5.2
exceptiongroup==1.1.1
executing==2.0.1
Farama-Notifications==0.0.4
fastjsonschema==2.18.1
filelock==3.13.1
flake8==6.0.0
flatbuffers==24.3.7
fonttools==4.38.0
fqdn==1.5.1
fsspec==2023.10.0
gast==0.5.4
gdown==5.1.0
glfw==2.6.2
google-pasta==0.2.0
graphviz==0.20.1
greenlet==3.0.1
grpcio==1.62.1
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.0
h5py==3.10.0
idna==3.4
importlib-resources==5.12.0
iniconfig==2.0.0
ipykernel==6.26.0
ipython==8.12.3
ipywidgets==8.1.1
isoduration==20.11.0
isort==5.13.2
jedi==0.19.1
Jinja2==3.1.2
Js2Py==0.74
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.9.0
jupyter-lsp==2.2.0
jupyter_client==8.6.0
jupyter_core==5.5.0
jupyter_server==2.10.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.8
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.25.1
keras==3.1.1
kiwisolver==1.4.4
libclang==18.1.1
llvmlite==0.40.0
lxml==4.9.3
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.0
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
-e git+https://github.com/MarcoMeter/drl-memory-gym.git@7900c0d046680fbaee1712c98daa88a2ad3be3f8#egg=memory_gym
mistune==3.0.2
ml-dtypes==0.3.2
mujoco==3.0.0
namex==0.0.7
nbclient==0.9.0
nbconvert==7.11.0
nbformat==5.9.2
nest-asyncio==1.5.8
notebook==7.0.6
notebook_shim==0.2.3
numba==0.57.0
numpy==1.24.2
opt-einsum==3.3.0
optree==0.10.0
overrides==7.4.0
packaging==23.0
pandocfilters==1.5.0
parso==0.8.3
pickleshare==0.7.5
Pillow==9.4.0
pipreqs==0.5.0
pipwin==0.5.2
platformdirs==3.11.0
pluggy==1.0.0
ply==3.11
pocketsphinx==5.0.2
prometheus-client==0.18.0
prompt-toolkit==3.0.39
protobuf==4.25.3
psutil==5.9.6
pure-eval==0.2.2
pycodestyle==2.10.0
pycparser==2.21
pyflakes==3.0.1
pygame==2.4.0
Pygments==2.16.1
pyjsparser==2.7.1
pylint==3.1.0
PyOpenGL==3.1.7
pyparsing==3.0.9
PyPrind==2.11.3
pySmartDL==1.3.4
PySocks==1.7.1
pytest==7.2.2
python-dateutil==2.8.2
python-json-logger==2.0.7
-e git+https://github.com/Ryan-Amaral/PyTPG.git@7295f90ececbfc34fdbc1d73e032a9c2407a182c#egg=PyTPG
pywin32==306
pywinpty==2.0.12
PyYAML==6.0.1
pyzmq==25.1.1
qtconsole==5.5.0
QtPy==2.4.1
referencing==0.30.2
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.12.0
scipy==1.10.1
scoop==0.7.2.0
Send2Trash==1.8.2
Shimmy==0.2.1
sip==6.7.12
six==1.16.0
sniffio==1.3.0
sounddevice==0.4.6
soupsieve==2.5
stack-data==0.6.3
swig==4.1.1.post0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
terminado==0.17.1
tinycss2==1.2.1
tomli==2.0.1
tomlkit==0.12.4
tornado==6.3.3
tqdm==4.66.1
traitlets==5.13.0
types-python-dateutil==2.8.19.14
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
unittest-xml-reporting==3.2.0
uri-template==1.3.0
urllib3==2.0.7
virtualenv==20.25.0
wcwidth==0.2.9
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.4
Werkzeug==3.0.1
widgetsnbextension==4.0.9
wrapt==1.16.0
yarg==0.1.9
zipp==3.15.0
zlib-wrapper==0.1.3
